/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    transition: background-image 2s ease-in-out;
}

.overlay {
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}


button:hover {
    background-color: #333;
    color: #fff;
}

.header {
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(110, 10, 10, 1));
}

.function {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    height: 100%;
}

.function button {
    color: #fff;
    margin: 0;
    border: none;
    padding: 0px 50px;
    user-select: none;
    /* 禁止用户选择文本 */
    background-color: rgba(0, 0, 0, 0.0);
    transition: all 0.2s;
    height: 100%;
}

.function button:hover {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.userinfo {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
}

.userinfo a {
    height: 100%;
}

.userinfo li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userinfo img {
    margin: 0px;
    padding: 0px;
    height: 50px;
    transition: transform 0.2s;
}



.userinfo a:hover img {
    transform: scale(1.2, 1.2) translate(0%, 0%);
    /* 水平和垂直同时放大并向左下平移 */
}

.userinfo button {
    color: #333;
    margin: 0;
    border: none;
    padding: 0px 20px;
    user-select: none;
    /* 禁止用户选择文本 */
    transition: all 0.2s;
    height: 100%;
}

.userinfo button:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.clock {
    padding-right: 30px;
    font-size: 3ch;
    color: #fff;
    white-space: pre;
    user-select: none;
}

.BGMAudio {
    width: 400px;
    outline: none;
    background-color: #eee;
    color: #eee;
}

.nextButtonTriangle {
    border-top: 7px solid transparent;
    border-left: 13px solid #333;
    border-bottom: 7px solid transparent;
}

.prevButtonTriangle {
    border-top: 7px solid transparent;
    border-right: 13px solid #333;
    border-bottom: 7px solid transparent;
}

.audioControls button:hover > .nextButtonTriangle {
    border-top: 7px solid transparent;
    border-left: 13px solid #eee;
    border-bottom: 7px solid transparent;
} 

.audioControls button:hover > .prevButtonTriangle {
    border-top: 7px solid transparent;
    border-right: 13px solid #eee;
    border-bottom: 7px solid transparent;
}