body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: background-image 2s ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    height: 100vh; /* This ensures the body covers the entire viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    color:rgb(235, 136, 66);
    font-weight: 900;
}

button {
    margin-top: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:rgb(235, 136, 66);
    font-weight: 850;
    font-size: 1.5ch;
}

input {
    margin: 20px;
    border-radius: 10px;
    border-style:initial;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

input:focus {
    outline: none;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}