body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: background-image 2s ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    height: 100vh; /* This ensures the body covers the entire viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    color:rgb(235, 136, 66);
    font-weight: 900;
}

button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-family: "Microsoft YaHei", "微软雅黑", "SimHei", "黑体", "PingFang SC", "苹方", Arial, sans-serif;
    color:rgb(209, 110, 39);
    font-weight: 850;
    font-size: 1.5ch;
}

button:hover {
    cursor: pointer;
    color: rgb(84, 6, 87);
    background-color: var(--inverted-background-color);
    transition: all 0.2s;
}

input {
    margin: 20px;
    border-radius: 10px;
    border-style:initial;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.title {
    text-align: center;
}

input:focus {
    outline: none;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contents {
    background-color: rgba(255, 255, 255, 0.85); /* 使用 rgba 表示颜色，并设置透明度为 0.5 */
    padding: 20px; /* 增加一些内边距 */
    border-radius: 10px; /* 圆角边框 */
}

.textInput {
    display: flex;
    flex-direction: row;
}

.textInput div:first-child {
    width: 20%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}