/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
}

/* 定义body样式，设置背景图片填充整个屏幕 */
body {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 2s ease-in-out;
}

.buttonContainer button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-family: "Microsoft YaHei", "微软雅黑", "SimHei", "黑体", "PingFang SC", "苹方", Arial, sans-serif;
    color:#322;
    font-weight: 850;
    font-size: 1.5ch;
}

.buttonContainer button:hover {
    cursor: pointer;
    color: #fdf;
    background-color: var(--inverted-background-color);
    transition: all 0.2s;
}

.contentsCanvas {
    padding: 35px;
    border-radius: 10px; /* 圆角边框 */
    background-color: rgba(45, 45, 45, 0.85); /* 使用 rgba 表示颜色，并设置透明度为 0.5 */
    color: #fff;
}

.textInput input {
    margin: 20px;
    border-radius: 10px;
    border-style:initial;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #111;
}

.textInput input:hover {
    outline: none;
    color: #111;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contents {
    padding: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    width: 100%;
    text-align: center;
    font-size: larger;
}



.textInput {
    display: flex;
    flex-direction: row;
}

.textInput div:first-child {
    width: 20%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.header {
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(110, 10, 10, 1));
}

.function {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    height: 100%;
}

.function button {
    color: #fff;
    margin: 0;
    border: none;
    padding: 0px 50px;
    user-select: none;
    /* 禁止用户选择文本 */
    background-color: rgba(0, 0, 0, 0.0);
    transition: all 0.2s;
    height: 100%;
}

.function button:hover {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.userinfo {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
}

.userinfo a {
    height: 100%;
}

.userinfo li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userinfo img {
    margin: 0px;
    padding: 0px;
    height: 50px;
    transition: transform 0.2s;
}

.userinfo a:hover img {
    transform: scale(1.2, 1.2) translate(0%, 0%);
    /* 水平和垂直同时放大并向左下平移 */
}

.userinfo button {
    color: #333;
    margin: 0;
    border: none;
    padding: 0px 20px;
    user-select: none;
    /* 禁止用户选择文本 */
    transition: all 0.2s;
    height: 100%;
}

.userinfo button:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}