<!DOCTYPE html>
<html lang="en">
<script src="../static/js/spider.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>追番</title>
    <link rel="preload" href="../static/img/七周年.jpg" as="image">
    <link rel="preload" href="../static/img/七夕.jpg" as="image">
    <link rel="preload" href="../static/img/三周年.jpg" as="image">
    <link rel="preload" href="../static/img/不灭星锚.jpg" as="image">
    <link rel="preload" href="../static/img/不灭星锚2.jpg" as="image">
    <link rel="preload" href="../static/img/云墨丹心.jpg" as="image">
    <link rel="preload" href="../static/img/五周年.jpg" as="image">
    <link rel="preload" href="../static/img/公主与骑士.jpg" as="image">
    <link rel="preload" href="../static/img/千年之羽.jpg" as="image">
    <link rel="preload" href="../static/img/六周年.jpg" as="image">
    <link rel="preload" href="../static/img/卡萝尔.jpg" as="image">
    <link rel="preload" href="../static/css/bangumi.css" as="style">
    <link rel="preload" href="../static/js/utils.js" as="script">
    <link rel="preload" href="../static/js/spider.js" as="script">
    <link rel="stylesheet" href="../static/css/bangumi.css">
    <link id="icon" rel="shortcut icon" href="https://fastcdn.mihoyo.com/static-resource-v2/2023/12/26/94c1ab74da48fb7286f0ea5b6a315699_8857161111806566463.png">
</head>
<body>
    <div id="bangumi-list">    
        {% csrf_token %}
    </div>
</body>
<script src="../static/js/utils.js"></script>
</html>