<!DOCTYPE html>
<html lang="en">
<script src="../static/js/spider.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>追番</title>
    <link rel="preload" href="../static/css/bangumi.css" as="style">
    <link rel="preload" href="../static/js/utils.js" as="script">
    <link rel="preload" href="../static/js/spider.js" as="script">
    <link rel="stylesheet" href="../static/css/bangumi.css">
</head>
<body>
    <div id="bangumi-list">    
        {% csrf_token %}
    </div>
</body>
<script src="../static/js/utils.js"></script>
</html>