<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <link rel="preload" href="../static/img/七周年.jpg" as="image">
    <link rel="preload" href="../static/img/七夕.jpg" as="image">
    <link rel="preload" href="../static/img/三周年.jpg" as="image">
    <link rel="preload" href="../static/img/不灭星锚.jpg" as="image">
    <link rel="preload" href="../static/img/不灭星锚2.jpg" as="image">
    <link rel="preload" href="../static/img/云墨丹心.jpg" as="image">
    <link rel="preload" href="../static/img/五周年.jpg" as="image">
    <link rel="preload" href="../static/img/公主与骑士.jpg" as="image">
    <link rel="preload" href="../static/img/千年之羽.jpg" as="image">
    <link rel="preload" href="../static/img/六周年.jpg" as="image">
    <link rel="preload" href="../static/img/卡萝尔.jpg" as="image">
    <link id="icon" rel="shortcut icon"
        href="https://fastcdn.mihoyo.com/static-resource-v2/2023/12/26/94c1ab74da48fb7286f0ea5b6a315699_8857161111806566463.png">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css">
    <script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/home.js"></script>
</head>

<body>
    <nav class="header">
        <ul class="function">
            <li><button id="homePageButton">主页</button></li>
            <li><button id="bangumiPageButton">追番</button></li>
        </ul>
        <ul class="userinfo">
            <li id="username"></li>
            <li><button id="logoutButton" type="button">退出登录</button></li>
            <li><button id="registerPageButton" type="button">注册账户</button></li>
            <li><button id="deletePageButton" type="button">删除账户</button></li>
            <li id="usericon"><a href="./usercenter"><img src="../static/img/七夕.jpg" alt="user-icon"></a></li>
        </ul>
    </nav>
    <nav class="player">
        <ul id="playerContainer">
            <!-- <li id="BGMAudio"><audio id="player"></audio></li> -->
        </ul>
    </nav>
    <div class="triangle"></div>
</body>
</html>