<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="../static/img/七周年.jpg" as="image">
    <link rel="preload" href="../static/img/七夕.jpg" as="image">
    <link rel="preload" href="../static/img/三周年.jpg" as="image">
    <link rel="preload" href="../static/img/不灭星锚.jpg" as="image">
    <link rel="preload" href="../static/img/不灭星锚2.jpg" as="image">
    <link rel="preload" href="../static/img/云墨丹心.jpg" as="image">
    <link rel="preload" href="../static/img/五周年.jpg" as="image">
    <link rel="preload" href="../static/img/公主与骑士.jpg" as="image">
    <link rel="preload" href="../static/img/千年之羽.jpg" as="image">
    <link rel="preload" href="../static/img/六周年.jpg" as="image">
    <link rel="preload" href="../static/img/卡萝尔.jpg" as="image">
    <link id="icon" rel="shortcut icon" href="https://fastcdn.mihoyo.com/static-resource-v2/2023/12/26/94c1ab74da48fb7286f0ea5b6a315699_8857161111806566463.png">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/login.js"></script>
    <title>登录</title>
</head>
<body>
    {% csrf_token %}
    <div class="contents">
        <div class="contentsCanvas">
            <div class="title">用户登录</div>
            <div class="textInput">
                <div>用户名</div>
                <div><label><input type="text" title="usernameTextInput" id="usernameInput"/></label></div>
            </div>
            <div class="textInput">
                <div>密码</div>
                <div><label><input type="password" title="passwordTextInput" id="passwordInput"/></label></div>
            </div>
            <div class="textInput">
                <div>确认密码</div>
                <div><label><input type="password" title="passwordTextInput1" id="passwordInput1"/></label></div>
            </div>
            <div class="buttonContainer">
                <button id="loginButton">登录</button>
                <button id="registerPageButton">注册</button>
                <button id="cancelButton">取消</button>
            </div>
        </div>
    </div>
</body>
</html>