<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="../static/img/七周年.jpg" as="image">
    <link rel="preload" href="../static/img/七夕.jpg" as="image">
    <link rel="preload" href="../static/img/三周年.jpg" as="image">
    <link rel="preload" href="../static/img/不灭星锚.jpg" as="image">
    <link rel="preload" href="../static/img/不灭星锚2.jpg" as="image">
    <link rel="preload" href="../static/img/云墨丹心.jpg" as="image">
    <link rel="preload" href="../static/img/五周年.jpg" as="image">
    <link rel="preload" href="../static/img/公主与骑士.jpg" as="image">
    <link rel="preload" href="../static/img/千年之羽.jpg" as="image">
    <link rel="preload" href="../static/img/六周年.jpg" as="image">
    <link rel="preload" href="../static/img/卡萝尔.jpg" as="image">
    <link id="icon" rel="shortcut icon" href="https://fastcdn.mihoyo.com/static-resource-v2/2023/12/26/94c1ab74da48fb7286f0ea5b6a315699_8857161111806566463.png">
    <link rel="stylesheet" href="../static/css/usercenter.css">
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/usercenter.js"></script>
    <title>用户中心</title>
</head>
<body>
    <div class="buttonContainer">
        <ul>
            <li><button id="registerButton">注册</button></li>
            <li><button id="deleteButton">删除</button></li>
            <li><button id="logoutButton">退出</button></li>
        </ul>
    </div>
</body>
</html>